<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Monda" rel="stylesheet">
    <title>Title</title>
</head>

<body>
<div class="screen">
    <div class="loginbar">
        <i class="fa fa-user-o" aria-hidden="true"></i>
        <a href="registrierung.html">registrieren</a> oder <a href="login.html">anmelden</a>
    </div>
    <nav>
        <ul>
            <li><a href="index.tmplt.php">Start</a></li>
            <li><a href="galerieOhneAcc.html" active="active">Galerie</a></li>
        </ul>
    </nav>

    <div class="content">

        <div class="container">
            <div class="contentbox">
                <h1>RIA Galerie</h1>

                <div class="searchbox">
                    <input id="ria-gallery-search-input" type="text"/>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>

            <div class="scrollable">
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        <span class="ria-name">Eine Ria</span>
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        <span class="ria-name">Hund</span>
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        <span class="ria-name">Haus</span>
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        <span class="ria-name">Ostfalia</span>
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        <span class="ria-name">Webprogrammierung</span>
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        <span class="ria-name">Eine Ria</span>
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        <span class="ria-name">Eine Ria 1000</span>
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        <span class="ria-name">Eine Ria</span>
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        <span class="ria-name">++++ Eine Ria</span>
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        <span class="ria-name">Eine Ria</span>
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        <span class="ria-name">Bla</span>
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        <span class="ria-name">bla bla</span>
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        <span class="ria-name">Eine Ria</span>
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        <span class="ria-name">Eine Ria</span>
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        <span class="ria-name">Eine Ria</span>
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        <span class="ria-name">Eine Ria</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <footer>
        <p>&copy; Kruse, Pape &amp; Heumann</p>
        <p>Website im Rahmen des Kurses Webprogrammierung im WS17 an der <a href="https://www.ostfalia.de/">
            Ostfalia</a>.</p>
    </footer>
</div>
</body>


<script type="text/javascript" src="js/app.min.js"></script>

</html>