<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Monda" rel="stylesheet">
    <title>Title</title>
</head>

<body>
<div class="screen">
    <div class="loginbar">
        <!-- if user has no pic -->
        <a id="menu-profil-icon" class="angemeldet" href="profilMitAcc.html"><i class="fa fa-user-o" aria-hidden="true"></i></a>

        <!-- else
        <img src="">
        -->
        Willkommen, User <!-- insert real user name here --><a href="#">abmelden</a>
    </div>
    <nav>
        <ul>
            <li><a href="homeMitAcc.html" active="active">Start</a></li>
            <li><a href="galerieMitAcc.html">galerie</a></li>
        </ul>
    </nav>

    <div class="content">

        <div class="container">
            <div id="profile-details">
                <span style="text-align: center">
                    <img id="profile-img" alt="user-image" src="img/user-placeholder.png"> <!-- TODO remove styles to css -->
                    <div style="margin-right: 30px">
                        <a class="clickable-icon">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                        <a class="clickable-icon">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                        </a>
                    </div>
                </span>
                <span>
                    <h3>Hallo, USER</h3>
                    <p>Mail: ***@ostfalia.de</p>
                    <p id="password-text" style="display: inline-block;">Passwort: ********</p>
                    <a id="btn-change-password" type="button" class="extra-small-button main-button">Ändern</a>
                </span>
            </div>

            <label>Meine RIAs</label>
            <div class="scrollable contentbox">
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        Eine Ria
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        Eine Ria
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        Eine Ria
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        Eine Ria
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        Eine Ria
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        Eine Ria
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        Eine Ria
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        Eine Ria
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        Eine Ria
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        Eine Ria
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        Eine Ria
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        Eine Ria
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        Eine Ria
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        Eine Ria
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        Eine Ria
                    </a>
                </div>
                <div class="gallery-entry">
                    <a href="riaDetailsOhneAcc.html">
                        <img alt="pic" src=""/>
                        Eine Ria
                    </a>
                </div>
            </div>

            <p>Laden Sie Ihre Inhalte hoch.</p>
            <a type="button" class="small-button main-button">Hochladen</a>

        </div>
    </div>

    <footer>
        <p>&copy; Kruse, Pape &amp; Heumann</p>
        <p>Website im Rahmen des Kurses Webprogrammierung im WS17 an der <a href="https://www.ostfalia.de/">
            Ostfalia</a>.</p>
    </footer>
</div>
</body>

</html>