/node_modules
/vendor
/.idea
/composer.lock
/public/css/
/public/fonts/
/public/js/
/public/img/
/storage/database/*.sqlite
!/storage/database/app_schema.sqlite
/storage/app/rias/*.war
!/storage/app/rias/.gitignore