button, a[type="button"] {
  font-family: $header-font;
  text-transform: uppercase;
  border: none;
  text-align: center;
  padding: 15px 30px;
  font-size: 0.9rem;
  margin: 20px 0;

  &:active {
    text-decoration: none;
  }

  &.main-button {
    background-color: $main-color;
    color: white;

    &:hover {
      background-color: $main-color-darker;
    }
  }

  &.secondary-button {
    background-color: white;
    color: $main-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  &.small-button {
    padding: 10px 20px;
    font-size: 0.85rem;
  }

  &.extra-small-button {
    padding: 6px 12px;
    font-size: 0.85rem;
  }


}

.buttonbox {
  width: 200px;
  margin: 0 auto;

  button, a[type="button"] {
    display: block;
    width: 100%;
    margin: 0;
    position: relative;
    right: 30px;
  }

  button:first-child, a[type="button"]:first-child {
    margin: 20px 0 0 0;
  }

  button:last-child, a[type="button"]:last-child {
    margin: 0 0 20px 0;
  }

}

a.link-next-to-button {
  margin-left: 10px;
}

