ul.error {
  color: #721c24;
  background-color: #f8d7da;
  position: relative;
  margin-bottom: 1rem;
  margin-top: 0;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: .75rem 1.25rem .75rem 2.5rem;
}