html {
  font-family: $main-font;
  font-size: 14px;

  body {
    min-width: 300px;
    width: auto !important;
    width: 300px;
  }

  p, span {
    font-family: $main-font;
  }

  h1, h2,h3, h4, h5, h6 {
    font-family: $header-font;
  }

}

.screen {
  min-height: 100vh;
}

.content {
  min-height: 200px;
  position: relative;
  
  @media screen {
    // TODO set diff grid sys
  }

  width: 80%;
  left:10%;
  right:10%;

  .container {
    padding: 10px;
    min-height: 100px;
    margin: 30px auto;

    h1 {
      font-weight: 300;
      font-size: 1.6rem;
      margin-bottom: 25px;
    }

    p {
      font-size: 1.1rem;
      color: $font-color-grey;
      font-family: $header-font;
    }

    span {
      font-size: 1rem;
      color: $font-color-grey;
      font-family: $header-font;
    }
  }

  .scrollable {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 450px;
  }
}

nav {
  padding: 10px 20px;
  overflow: hidden;
  border-bottom: 3px solid $main-color;
  text-align: center;

  ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;

    li {
      margin-right: 10px;
      display: inline-block;

      a {
        color: rgba(0, 0, 0, 0.6);
        font-size: 1.4rem;
        text-transform: uppercase;
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        font-family: $header-font;
      }
    }
  }

  @media (max-width: 300px) {

  }
}

a {
  text-decoration: none;
  color: $main-color;

  &:hover {
    color: $link-hover-color;
  }

  &:active {
    text-decoration: underline;
  }
}

.loginbar {
  padding: 0 10px;
  color: $font-color-grey;
  font-family: $header-font;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1rem;

  #menu-profil-icon .fa {
    color: #2b2b2b;
    font-weight: 600;
    margin-right: 5px;
  }

  #menu-profil-icon.angemeldet:hover .fa {
    color: $link-hover-color;
  }

  a {
    font-weight: 400;
    margin-left: 3px;
  }
}

a.clickable-icon {

  .fa {
    color: #2b2b2b;
    font-weight: 400;
    font-size: 26px;
    margin: 6px 10px;
  }

  &:hover .fa {
    color: $link-hover-color;
  }
}

footer {

  padding: 10px 20px;
  border-top: 1px solid $border-color;
  text-align: center;

  p:first-child {
    font-family: $header-font;
  }

  p:last-child {
    font-family: $main-font;
    color: $font-color-grey;
    font-size: 0.9rem;
  }
}

.content .container .contentbox {
  border: 1px solid #e1e1e1;
  padding: 20px 12px;

  h1 {
    display: inline-block;
    margin: 0;
  }

  .searchbox {
    float: right;
  }

  @media (max-width: 480px) {
    .searchbox {
      display: block;
      float: none;
    }
  }
}

.content .container .bottom-pane {
  border-top: 1px solid $border-color;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;

  p {
    color: $font-color-darkgrey;
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  div {
    display: inline-block;
    text-align: center;
  }

}

@media screen and (max-device-width: 450px) and (orientation: portrait) {
  /* TODO */


}

label {
  display: block;
  color: $font-color-darkgrey;
  font-family: $main-font;
  font-weight: bold;
  font-size: 0.85rem;
  text-transform: uppercase;
  margin-top: 15px;
}

textarea {
  padding: 10px;
  overflow-y: scroll;
  resize: none;
  box-sizing: border-box;
  width: 100%;
}

input, textarea {
  border: 1px solid $border-color;
  color: $font-color-grey;
  font-family: $header-font;
  font-size: 1rem;
}





